.logo{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.btn{
    background-color: aqua;
    border-radius: 5px;
    height: 40px;
    width: 90px;
    margin-right: 10px;
}
.input{
    width: 170px;
 
}
.home{
    background-color: aliceblue;
    text-decoration: none;
    color: black;
    
    font-size: 18px;
}
.home:hover{
    color: orange;
}